# =========================
# Go
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test
*.test

# Go coverage
*.out
# Build output
build/bin/
dist/

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Frontend build
frontend/dist/
frontend/.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db

# =========================
# Env
# =========================
.env
.env.local
.env.*

# =========================
# Wails
# =========================
frontend/wailsjs/runtime/

.buildpath
.hgignore.swp
.project
.orig
.swp
.settings/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
manifest/config/config_local.yaml
temp/
*.log
cache/
!internal/logic/cache
__debug_bin*
config_wht*
config_local*
config.wht*
config.local*
# .trae
resource/files
resource/log
